
<div class="bs-stepper" style="opacity: 0.7">
    <div class="bs-stepper-header" role="tablist">
        <!-- your steps here -->
        <div class="step">
            <a>
                <span id = "stepper_start" class="bs-stepper-circle" style="background:#17a2b8">1</span>
                <span class="bs-stepper-label">Start</span>
            </a>
        </div>
        <div class="line" style="min-height: 2px;background: black"></div>
        <div class="step" >
            <a >
                <span id = "stepper_load_bm"   class="bs-stepper-circle">2</span>
                <span class="bs-stepper-label">Load Base Map</span>
            </a>
        </div>
        <div class="line" style="min-height: 2px;background: black"></div>
        <div class="step" >
            <a >
                <span id = "stepper_load_sm"  class="bs-stepper-circle">3</span>
                <span class="bs-stepper-label">Load Sketch Map</span>
            </a>
        </div>
        <div class="line" style="min-height: 2px;background: black"></div>
        <div class="step" >
            <a >
                <span id = "stepper_annotate_bm" class="bs-stepper-circle">4</span>
                <span class="bs-stepper-label">Annotate Base Map</span>
            </a>
        </div>
        <div class="line" style="min-height: 2px;background: black"></div>
        <div class="step" >
            <a >
                <span  id = "stepper_annotate_sm" class="bs-stepper-circle">5</span>
                <span class="bs-stepper-label">Annotate Sketch Map</span>
            </a>
        </div>
        <div class="line" style="min-height: 2px;background: black"></div>
        <div class="step" >
            <a >
                <span  id = "stepper_analyze_map" class="bs-stepper-circle">6</span>
                <span class="bs-stepper-label">Analyze Map</span>
            </a>
        </div>

    </div>
</div>
