{% extends 'layout_home.html'%}
{% block title %} Register {% endblock %}
{% block body %}
<div class="container-fluid">
    <br>
    <div id="register" style="text-align: center">
        <div style="width: 750px; display: inline-block" class="w3-card-4 w3-round">
            <header class="w3-panel w3-round w3-teal" style="padding: 5px;margin: 0px;text-align: left">
                <h5 style="margin-left: 5px"><b>Sign Up</b>: Please register to access the SMA tool</h5>
            </header>
            <br>
            <div id = "register_form" style="text-align: inherit">
                <form action="" method="POST">
                    <div class = "form-group">
                        <input type="text" name = "name" class = form-control placeholder="Name" required>
                    </div>
                    <div class = "form-group">
                        <input type="text" name = "username" class = form-control placeholder="Username" required>
                    </div>
                    <div class = "form-group">
                        <input type="password" name = "password" class = form-control placeholder="Password" required>
                    </div>
                    <div class = "form-group">
                        <input type="password" name = "confirm" class = form-control placeholder="Confirm Password" required>
                    </div>
                    <div class = "form-group">
                        <input type="text" name = "affiliation" class = form-control placeholder="Affiliation" required>
                    </div>
                    <div class = "form-group">
                        <input type="text" name = "email" class = form-control placeholder="Email" required>
                    </div>
                    <div>
                    <button class = "btn btn-outline-info" type="submit">Register</button>
                    </div>
                </form>
            </div>
            <br>
            <br>
            <footer class="w3-card" style="padding: 5px">
                <h6>Please Sign Up and Login to access the tool </h6>
                <div>
                <a href="/register"><span class="fa fa-fw fa-sign-in"></span> Sign Up &nbsp;&nbsp;</a>
                <a href="/login"><span class="fa fa-fw fa-user"></span> &nbsp; Login</a>
                    <br>
                </div>
            </footer>
        </div>
    </div>
</div>
{% endblock%}